/*start notification style*/
.alert_list{font-size: 11px; color:grey;}
li.alert_li {
  font-size: 11px; 
  color:grey;
  z-index: 1000;
  padding:5px 0px 5px 0px;
  border-bottom: thin solid #c0c0c0;
}
.turn_off_alert{float:right;margin-bottom :1px;}
a.alert_message{color : grey;}
a.alert_message:hover{color : grey;}
#news i {
	color: #fff;
}
.popover-body {
	background: #e9ece3;
	font-family: "sans-serif";
}
.popover-header {
	font-family: "ArchyEDT-Bold", sans-serif;
}
#news i:hover {
	color: #ded3d3;
}
#news i {
	font-size: 24px;
}
.unstyled {
	padding-left: 0;
	list-style-type: none;
}
.alert_li a {
	color: gray;
}
.alert_li a:hover {
	text-decoration: none;
	color: #333;
}
.navbar .file_text {
	padding:0;
}
.navbar .file_text a {
	display: inline;
}
.navbar .file_text .ball {
	border: 2px solid #fff;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	text-align: center;
	background: red;
}
.navbar .file_text  span {
	font-size: 10px;
	display: block;
	margin-top: 1px;
	color: #fff;
}
/*end notification style*/







@import url('reset.css');

@font-face{
	font-family: kolhety;
	src: url(../fonts/_!_kolhety_normal.ttf);
}

@font-face{
	font-family: glaho;
	src: url(../fonts/bpg_glaho.ttf);
}

#header {
	background-image: linear-gradient(green, #36a236);
	
	
	/*background-color:#14a239;*/ /*#083a15;*/
}
header .navbar {
	display: flex;
	justify-content: space-between;
}

header .signin a{
	width: 100%;
    background: linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%);
    /*background-color: #4ca1cc;*/
    text-align: center;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "ArchyEDT-Bold", sans-serif;
    /*border-radius: 10px;*/
   
}
header .signin a:hover {
	background:linear-gradient(to bottom, #333333e3 0%, #252525 100%);
	border-color: #5c3baf;
	transition: 0.5s; 
	border:2px solid #8f6ada;
}
header .signin span {
	color: #fff;
	letter-spacing: 1px;
	/*font-weight: bolder;*/	
}

header .register span {
	color: #fff;
	font-size: 13px;
	letter-spacing: 1px;
	display: block;
	text-align: right;
	padding-bottom: 3px;
	box-shadow: 1px 2px transparent;
	transition: 3s;
	
}
header .register span:hover:after {
	content: '';
	display: block;
	height: 5px;
	width: 40%;
	position: absolute;
	right: 15px;
	box-shadow: 1px 2px #5c3baf;
	transition: 3s;
	animation-name: border;
	animation-duration: 1s;

}
@keyframes border {
	from{
		width: 0;

	}
	to {
		width: 40%;
	}
}
header .logo {
	text-align: center;
}


header .social-icons li a i {
	font-size: 18px;
	font-weight: bold;
    color:#fff;
    width: 45px;
    height: 45px;
    border: 1px solid #fff; 
    border: 50%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
header .social-icons li a i:hover {
	background:linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%);
	border-color:#5c3baf;
	transition: 0.5s;
}

.navbar .file_text i {
	font-size: 20px;
    color: #4ca1cc;
    line-height: 40px; 
}
.prof_im img{
	width: 100%;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    min-width: 160px;
}
.navbar .profiledrop {
	padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown p {
	display: inline;
	padding-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    background: green;
    padding: 7px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;} 
.mobile-menu-opener{
				display: none;
				float: right;
				font-size: 35px;
}
.mobile-menu-opener .menu-closer {
				display: none;
}
.mobile-menu-opener.active .menu-closer{
				display: block;
}		
.mobile-menu-opener.active .menu-opener{
				display: none !important;
}
header .main-menu {
	font-family: "ArchyEDT-Bold", sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
}
header .main-menu  li a {
	color:#fff;
	padding: 7px;
	box-sizing: border-box;
	transition: 0.1s;
	border: 1px solid transparent;

}
header .main-menu li a:hover {
	box-sizing: border-box;
	border: 1px solid #5c3baf;
	background:linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%);
	border-radius: 10px;
	
}
.menu-opener,
.menu-closer {
	color: #c8f7d4;
}

.slider{
	padding-right:0!important;
	padding-left:0!important;
}
.carousel-item{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.carousel-control-prev span, .carousel-control-next span {
	background:linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%);
    font-size: 30px;
    width: 60px;
    height: 70px;
    /* align-items: center; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.main-slider-image {
  height: 90vh;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s; }
  .main-slider-image:hover {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%); }







@media screen and (max-width: 992px) {
	.main-slider-image {
		height: auto;
	}
}
/*main section starts here*/
#main {
	position: relative;
	overflow: hidden;
	color: #333;
	/*background-image: linear-gradient(green, black);*/
}

#download {
	background-image: linear-gradient(green, #36a236);
}

#download .download-button a {
	height: 10vh;
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
    margin-bottom: 70px;
	background: linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%);
	/*border-radius: 10px;*/
    
    
}
#download .download-button a:hover {
	background:linear-gradient(to bottom, #333333e3 0%, #252525 100%);
	border-color: #5c3baf;
	transition: 0.5s;
	border:2px solid #8f6ada;
}
#download .download-button a {
	font-size: 18px;
	color: #fff;
}
#download .download-button a i{
	padding-right: 10px;
}


/*lessons section starts here*/
.title1 {
	font-family: kolhety;
	font-size: 20px;
}
#featured-worlds{
	font-family: glaho;
	background-image: url(../images/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}

#lessons {
	background-image: url(../images/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;

}
#featured-lessons {
	font-family: glaho;
	background-image: url(../images/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}


#all-lessons {
	font-family: glaho;
}

#lessons .video-lessons .blocks .block {
	margin:10px;
}
 .video-lessons .blocks .block {
	margin-bottom: 30px;
	font-family: glaho;
	letter-spacing: 1px;
	width: 100%;
	height: 100%;
}
.white {
	background: #fff;
}

.like img {
	width: 35px;
	height: 30px;
	display:inline-block!important;
	transition: 1s;
}


#like-img:hover {

	content: url('../images/red-heart.svg');
}
#comment-img:hover {
	content: url('../images/blue-comment.svg');
}


blue-comment.svg
.like polygon {
	fill: #4e8330;
}
.like polygon:hover {
      fill: red;
}

.like span {
	color: #333;
}
.comment img {
	width: 30px;
	height: 30px;
	display:inline-block!important;
}

.comment span {
	color: #333;
}

.video-lessons .blocks .block .text h2 {
	font-size: 18px;
	color: black;
}
 .video-lessons .blocks .block .text p {
	font-size: 14px;
	color: black;
}
.video-lessons .blocks .block .video iframe {
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
	border: none;
	background-size: cover;
}
.categories {
	color:#fff;
	letter-spacing: 1px;
}

.categories .category {
	padding: 7px;
	margin-bottom: 5px!important;
	margin-right: 2px!important;
	display: inline-block;
}
.categories .category a {
	color: #fff;
}
 .categories .age {
	background: #4e8330;
}
.categories .subject {
	background: #5faedc;
}
.view a{
	/*margin-top: 20px;*/
	font-weight: bold;
    display: block;
    width: 100%;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%);
    color: #fff;
}
.view a:hover {
	background: linear-gradient(to bottom, #7abb55 0%, green 100%);
	/*background: #7abb55;*/
	transition: 3s;
	color: #fff;
}

.slick-prev,
.slick-next{
	    background: linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%) !important;
	    width: 45px !important;
	    height: 50px !important;
	    z-index: 10;
	    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

}

/*lessons section end*/

/*activities/worlds section starts here*/
 .worlds .world {
	margin-bottom: 30px;
	font-family: glaho;
	letter-spacing: 1px;
	/*border: 4px double #8f6ada;*/
}

.worlds .world .img1 {
	width: 100%;
	height: auto;
}
.worlds .world .text h2 {
	font-size: 18px;
	color: black;
}
.worlds .world .text p {
	font-size: 14px;
	color: black;
}
.categories .world-type {
	background: #328162;
}
.categories .world-type a {
	color: #fff;
}
.categories .game-mode {
	background: #b33756;
}
.categories .game-mode a {
	color: #fff;
}
/*activities/worlds section end*/


/*parallax*/

.shape {
	position: absolute;
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
/*.pollygon {

	    
}*/
.purple {
	background: linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%);
}
.green {
	background: green;
}
.red {
	background-color: #FF0000;
}
.white {
	background-color: #fff;
}
.small {
	width: 30px;
	height: 35px;
}
.medium {
	width: 60px;
	height: 65px;
}
.large {
	width: 60px;
	height: 65px;
}
.shape:nth-of-type(1){
	bottom: 1%;
	right: 1%;
	opacity: 0.4;
	z-index: 5;
}
.shape:nth-of-type(2){
	bottom: 1%;
	left: 2%;
	opacity: 0.4;
	z-index: 5;
}
.shape:nth-of-type(3){
	bottom: 5%;
	left: 1%;
	opacity: 0.4;
	z-index: 5;
}
.shape:nth-of-type(4){
	top: 40%;
	left: 10%;
	opacity: 0.4;
	z-index: 5;
}
.shape:nth-of-type(5){
	top: 65%;
	left: 1%;
	opacity: 0.4;
	z-index: 5;
}
.shape:nth-of-type(6){
	bottom: 15%;
	right: 25%;
	opacity: 0.7;
	z-index: 5;
}
.shape:nth-of-type(7){
	top: 25%;
	left: 17%;
	opacity: 0.4;
	z-index: 5;
}
.shape:nth-of-type(8){
	bottom: 3%;
	left: 47%;
	opacity: 0.4;
	z-index: 5;
}
.shape:nth-of-type(9){
	bottom: 25%;
	left: 53%;
	opacity: 0.4;
	z-index: 5;
}
.shape:nth-of-type(10){
	bottom: 42%;
	right: 30%;
	opacity: 0.4;
	z-index: 5;
}

.shape:nth-of-type(11){
	bottom: 12%;
	left: 20%;
	opacity: 0.4;
	z-index: 5;
}

.shape:nth-of-type(12){
	top: 50%;
	left: 20%;
	opacity: 0.4;
	z-index: 5;
}

.shape:nth-of-type(13){
	bottom: 10%;
	left: 5%;
	opacity: 0.4;
	z-index: 5;
}

.shape:nth-of-type(14){
	top: 15%;
	left: 20%;
	opacity: 0.4;
	z-index: 5;
}

.shape:nth-of-type(15){
	top: 30%;
	left: 25%;
	opacity: 0.4;
	z-index: 5;
}

.shape:nth-of-type(16){
	bottom: 5%;
	left: 30%;
	opacity: 0.4;
	z-index: 5;
}

.shape:nth-of-type(17){
	bottom: 2%;
	left: 20%;
	opacity: 0.4;
	z-index: 5;
}




/*footer starts here*/
footer {
	background: black;
	color: #fff;
	font-family: glaho;
}
footer li {
	margin-right: 10px;
}
footer li a{
	font-weight: bold;
    color: #8f6ada;
    font-size: 18px;
    width: 45px;
    height: 45px;
    border: 1px solid #8f6ada;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex!important;
}
footer li a:hover{
	color: #fff;
	background:linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%);
	border-color:#5c3baf;
	transition: 0.5s;
}
footer .geolab img {
	width: 80px;
	height: 80px;
}
footer .contact span {
	font-size: 14px;
}



/*start form section style*/
.back_icon i {
	font-size: 18px;
	padding-right: 5px;
	color: #5c3baf;
}
.back_icon a {
	font-size: 18px;
	color: #5c3baf;
}
.back_icon a:hover {
	color: #5c3baf;
}
.back_icon :hover i {
	color: #5c3baf;
}
.back_icon {
	margin: 50px 0 30px;
}
.filter {
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 30px;
}
.filter i {
	padding-left: 15px;
	color: #5c3baf;
}
.filter a {
	 color: #5c3baf;
	 font-weight: 5px;
	 font-weight: bold;
}
.filter a:hover {
	color: #5c3baf;
}


[type=submit] {
	width: 100%;
	height: 100%;
	border: 1px solid #ad95ea;
	cursor: pointer;
}
[type=submit]:hover {
	background-color: #e6e3ef;
}
.search {
	margin: 30px 0 50px;
}
.find p {
	display: inline-block;
}
.form {
	padding-bottom: 100px;
	
}
.find a {
	padding: 10px 20px;
	background: linear-gradient(#8f6ada, #5c3baf);
	cursor: pointer;
}
.find a:hover {
	background: linear-gradient(#7abb55, #4E8330);
}
.gray_bg {
	background-image: url(../images/Grey_BG.png);
	padding-top: 10px;
	padding-bottom: 50px;
}
.form_background h1 a {
	text-transform: uppercase;
	color: #333;
	margin: 10px 0;
}
.form_background h1 {
	margin: 15px 0;
}
.media_background span {
	display: block;
	padding: 10px 0 30px;
}
.upload {
	text-align: right;
}
.submit_data {
	text-align: right;
}
.submit a {
	color: #5c3baf;
}
.discussions {
	background: #d4d3d3;
}
.content_forum{
	background: #f2f2f2;
	padding: 50px 0;
}
.category_content {
	background: #fff;
	padding: 20px 0;
	margin-bottom: 30px;
	   border: 1px solid #e4e3e3;
}
.category_content h4 span{
	font-size: 15px;
}
.btn-default {
	width: 100px;
}
.sub_form {
	text-align: right;
}
.category_content .inner_form {
	text-align: right;
	padding-right: 40px;
}
.category_content h4 {
	padding-bottom: 20px;
}
.content_forum .content_small {
	margin-left: 50px;
}
.content_forum .character {
	text-align: right;
}
.reply {
	text-align: right;
	padding-right: #5c3baf;
}
.reply a {
	color: #5c3baf;
	padding-right: 40px;
}
.reply a:hover {
	color: green;
}
.profile_submit {
	padding: 10px 0;
}
.submit_text{
	line-height: 60px;
}
.by {
	background: #fff;
	margin: 0;
}
.upload i {
	color: #5c3baf;
}
.upload i:hover {
	color: green;
}

.form_background {
	background: #fff;
}
.inner_form {
	background: #fff;
	padding: 30px 0;
}
.inner_form h6  {
	padding: 5px 10px;
	background: #ff4a73;
	display: inline;
	color: #fff;
}
.form_text {
	padding: 30px 0;
}
.inner_form h1 a {
	color: #333;
	text-transform: uppercase;
}
.inner_form h1 {
	padding-bottom: 20px;
}
.inner_form i {
	font-size: 30px;
	padding-right: 20px;
}
.inner_form span {
	font-size: 30px;
}


/*end form style*/
.forum_media {
	border-top: 8px solid #DCDCDC;
	background: #f2f2f2;
}
.media-body a {
	display: block;
	color: #fff;
	margin-top: 20px;
}
.media-body p {
	display: inline-block;
    padding: 6px 20px;
    background: #8b66d7;
}
.media {
	padding: 20px 0;
}
.media-body h5 a {
	margin: 0;
	color: #333;
}
.right_media .fa-angle-double-down {
	font-size: 30px;
	font-weight: bold;
	color: #5daedc;
	margin-right: 10px;
	display: inline;
}
.right_media span {
	font-size: 30px;
	color: #333;
}
.right_media a {
	font-size: 30px;
}
.right_media {
	padding: 20px 0;
}
.right_media i:hover {
	color: #315e77;
}
.right_media .fa-comments-o{
	font-size: 30px;
	margin-right: 10px;
	color: #5daedc;
	display: inline;
}
.right_media .fa-comments-o:hover {
	color: #315e77;
}
.coment {
	text-align: right;
}
.right_media .name {
	text-align: center;
}
.right_media .name {
	font-size: 20px;
}
.right_media .author {
	text-align: center;
}
.media_background {
	background: #fff;
	border: 1px solid #e0e0e0;
	margin: 10px 0;
}
.forum_media {
	padding-top: 15px;
}
.forum_media h5 span {
	font-weight: bold;
}
.dropdown_filter {
	text-align: right;
}
/*medis object style end*/

.logo a {
	display: block;
}
@media screen and (max-width: 992px) {
	header .nav1 .navbar {
		display: none;
	    width: 100%;
	    position: fixed;
	    top: 0;
	    height: auto;
	    background: rgba(9,82,8,0.9);
	    right: 0;
	    float: none;
	    height: 100vh;	    
	    padding: 215px 0 0 0;
	    z-index: 50;
	}

.menu-opener,
.menu-closer {
	position: fixed;
	z-index: 100;
	top: 15px;
}

	.main-menu li{
		float: none !important;
		width: 100%;
	    /*padding: 10px 0px !important;*/
	    text-align: right;
	    padding-right: 10px;
	    font-size: 20px;
	    padding-bottom: 10px;
	    letter-spacing: 1px;
	}
	.mobile-menu-opener{
		display: block;
		position: relative;
    	z-index: 100;
	}

	body.menu-active .main-menu{
		display: block !important;
	}
	.social-icons {
		display: none;
	    right: 0;
    	position: fixed;
    	top: 145px;
    	z-index: 100;
	}
	body.menu-active .social-icons {
		display: block !important;
		align-items: center;
	}
	header .signin {
	    display: none;
	    right: 15px;
    	position: fixed;
    	top: 80px;
    	width: 150px;
    	z-index: 100;
	}
	body.menu-active .signin  {
		display: block !important;
	}


	header .register {
	    display: none;
	    right: 15px;
    	position: fixed;
    	top: 125px;
    	z-index: 100;
    	text-align: right;
    	/*box-shadow: 1px 3px transparent;*/
	}
/*	header .register span {
	color: #fff;
	letter-spacing: 1px;
	display: block;
	text-align: right;
	padding-bottom: 3px;
	box-shadow: 2px 4px transparent;
	transition: 1s;
}*/
/*header .register span:hover {
	box-shadow: 1px 3px #5c3baf;
}*/
	body.menu-active .register  {
		display: block !important;
	}
.title1 h1 {
	font-size: 30px;
}

}

@media screen and ( max-width: 769px ){

.carousel-control-prev span, .carousel-control-next span {
    font-size: 15px;
    width: 30px;
    height: 35px;
  
}

#download .download-button a {
	font-size: 12px;	
}

}


#filter {
	background: #fff;
	color: #333;
	font-family: glaho;
}

#filter .filter span{
	color: #5c3baf;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 24px;
}

.search-text {
	width: 100% !important;
}


.flx {
	display: flex;
	justify-content: space-between;
}

/*style checkboxes*/

.form-check-label{
    display: block;
    position: relative;
    padding-left: 35px!important;
    margin-bottom: 12px!important;
    cursor: pointer;
    font-size: 18px;
    font-family: glaho;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.form-check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.form-check-label:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a purple background */
.form-check-label input:checked ~ .checkmark {
   background: linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%)
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.form-check-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.form-check-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



/*.form-check-inline .form-check-input {
	width: 30px;
	height: 30px;
}*/
.world-types {
	font-weight: bolder;
}
.world-type {
	background-color: #328162;
	display: inline-block;
	padding: 5px 15px;
	margin-right: 10px;
	margin-bottom: 20px;
	color: #fff;
	cursor: pointer;
	font-weight: bolder;
}


.world-type:active {
    background-color: #084A35;
}
.world-type:hover{
    background-color: #084A35;
}
.ages {
	font-weight: bolder;
}
.age {
	background-color: #4E8330;
	display: inline-block;
	padding: 5px 15px;
	margin-right: 10px;
	margin-bottom: 20px;
	color: #fff;
	cursor: pointer;
	font-weight: bolder;
}


.age:active {
    background-color: #37582D;
}
.age:hover{
    background-color: #37582D;
}

.subjects {
	font-weight: bolder;
}
.subject {
	background-color: #5daedc;
	display: inline-block;
	padding: 5px 15px;
	margin-right: 10px;
	margin-bottom: 20px;
	color: #fff;
	cursor: pointer;
	font-weight: bolder;
}


.subject:active {
    background-color: #3F5A6B
}
.subject:hover{
    background-color: #3F5A6B
}
.game_modes {
	font-weight: bolder;
}
.game_mode {
	background-color: #b33756;
	display: inline-block;
	padding: 5px 15px;
	margin-right: 10px;
	margin-bottom: 20px;
	color: #fff;
	cursor: pointer;
	font-weight: bolder;
}

.game_mode:active {
	background-color: #66122b;
}
.game_mode:hover {
	background-color: #66122b;
}

.learning {
	font-weight: bolder;
}
.learn {
	background-color: #e4c701;
	display: inline-block;
	padding: 5px 15px;
	margin-right: 10px;
	margin-bottom: 20px;
	color: #fff;
	cursor: pointer;
	font-weight: bolder;
}


.learn:active {
    background-color: #BBA51A;
}
.learn:hover{
    background-color: #BBA51A;
}


.training-levels{
	font-weight: bolder;
}
.training-level {
	background-color: #5c38af;
	display: inline-block;
	padding: 5px 15px;
	margin-right: 10px;
	margin-bottom: 20px;
	color: #fff;
	cursor: pointer;
	font-weight: bolder;
}


.training-level:active {
    background-color: #412b78;
}
.training-level:hover{
    background-color: #412b78;
}
.line .line_col{
        background: linear-gradient(to bottom, #7abb55 0%, green 100%);
        height: 6px;
}
.text {
	overflow: hidden;
}
.categories {
	height: 100px;
	overflow: hidden;
}


.load-more {
	padding-bottom: 30px;
	color: #5c3baf;
	text-align: center;
}
.load-more a {
	display: inline-block;
	color: #5c3baf;
	padding: 10px;
	border: 2px solid #5c3baf;
}

.load-more a:hover {
	color: #7abb55;
	border-color: #7abb55;
}

#inner-page {
	/*font-family: glaho;*/
	background-image: url(../images/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}
 .video-lesson {
	width: 100%;
	height: 450px;
}
.video-lesson .world-image {
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 0;
	overflow: hidden;
}
.video-lesson .world-image img{
	width: 100%;
	height: 100%;
}
 .video-lesson .video {
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 0;
}
 .video-lesson .video .youtube-player{
	width: 100%;
	height: 100%;
	padding: 0;
}

 .video-lesson .resource-info {
	width: 100%;
	height: 100%;
	background: #fff;
	color: #333;
	padding: 0!important;
	/*overflow: hidden;*/
}
#inner-page .video-lesson .resource-info .inner-text {
	padding: 10px;
	font-family: glaho;
}

.inner-icons .inner-like {
	position: absolute;
	bottom: 10px;
	left: 5%;
}
.inner-icons .inner-comment {
	position: absolute;
	bottom: 10px;
	left: 30%;
}
.inner-icons span {
	padding-left: 10px;
}
.inner-icons .download-icon img {
	width: 30px;
	height: 30px;
	display: inline-block!important;
}
#download-img:hover {
	content: url('../images/download-green.svg');
}
.inner-icons .download-icon {
	position: absolute;
	bottom: 10px;
	left: 60%;
}
@media screen and (max-width: 992px){
	.inner-icons .inner-comment{
		left: 50%;
	}
	.video-lesson {
	height: auto;
	}
	.inner-icons .download-icon {
	left:80%;
	}

}

#Submitted .submitted {
	font-family: glaho;
}

#Submitted .submitted-img {
	display: inline-block!important;
	width: 60px;
	height: 60px;
	margin-right: 10px;
}
#Submitted .submitted .author {
	color: #5c3baf;
	font-weight: bold;
}
#Submitted .submitted .author:hover {
	color: #72b24e;
}
#Submitted  .submitted-date {
	text-align: center;
	padding-top: 15px;
}
@media screen and (max-width: 992px){
	#Submitted  .submitted-date {
	text-align: center;
	}
	}
#lesson-plan-description{
	background-color: #f2f2f2;
	height: auto;
}
/*#lesson-plan-description .description-button{
	text-align: center;
}*/
#lesson-plan-description .description-button {
	display: flex;
	justify-content: space-around;
}
#lesson-plan-description .discussion {
	display: flex;
	justify-content: space-around;
}
#lesson-plan-description .tabs-list a {
	padding: 20px 50px;
	background: linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%);
	color: #fff;
	border-radius: 20px;
}

#lesson-plan-description .tabs-list a:active{
	background: linear-gradient(to bottom, #7abb55 0%, green 100%);
}
#lesson-plan-description .tabs-list a:hover{
	background: linear-gradient(to bottom, #7abb55 0%, green 100%);
}
#lesson-plan-description .download-asset img{
	display: inline-block;
	width: 40px;
	height: 40px;
}



#discussion {
	font-family: glaho;
}
#discussion .discussion {
	width: 100%;
	padding:20px 10px;
	border: 1px solid #f2f2f2;
}
#discussion .discussion .discussion-img img {
	display: inline-block!important;
	width: 75px;
	height: 70px;
	margin-right: 10px;
}
#discussion .discussion .discussion-author {
	color: #5c3baf;
	font-weight: bold;
	font-size: 18px;
}
#discussion .discussion .discussion-author:hover {
	color: #72b24e;
}
#discussion .discussion .reply a{
	color:#5c3baf;
	font-weight: bold;
}
#discussion .discussion .reply a:hover{
	color: #72b24e;
}
#discussion .category_content .btn-default{
	font-weight: bolder;
	background: linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%);
	color: #fff;
	transition: 0.5s;
}
#discussion .category_content .btn-default:hover {
	background: linear-gradient(to bottom, #7abb55 0%, green 100%);
}
.discussion-signin a{
	width: 100%;
    background: linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%);
    text-align: center;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "ArchyEDT-Bold", sans-serif;
    color: #fff;
	letter-spacing: 1px;   
}
.discussion-signin a:hover {
	background:linear-gradient(to bottom, #333333e3 0%, #252525 100%);
	border-color: #5c3baf;
	transition: 0.5s; 
	color: #fff;
	border:2px solid #8f6ada;
}
	
.watch-video a {
	font-weight: bold;
    display: block;
    width: 100%;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: linear-gradient(to bottom, #8f6ada 0%, #5c3baf 100%);
    color: #fff;
}
.watch-video a:hover {
	background: linear-gradient(to bottom, #7abb55 0%, green 100%);
	transition: 3s;
	color: #fff;
}
@media screen and (max-width: 576px){
