body {
    background-color: #4A5CCE;
}


.myButton {
    margin: 0 auto;
    top: 35vh;
    background-color: #4A5CCE;
    width: 200px;
    height: 140px;
    border: 2px solid white;
    position: relative;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.myButton p {
    color: white;
    padding: 40px 0;
    font-size: 20px;
}

.ontop {
    display: none;
    position: absolute;
    width: 202px;
    height: 3px;
    top: -2px;
    right: -5px;
    background-color: #4A5CCE;
    border: 1px solid #4A5CCE;
}

.onright {
    display: none;
    position: absolute;
    width: 3px;
    height: 165px;
    bottom: -6px;
    right: -2px;
    background-color: #4A5CCE;
    border: 2px solid #4A5CCE;
}

.onbottom {
    display: none;
    position: absolute;
    width: 203px;
    height: 3px;
    bottom: -2px;
    left: -6px;
    background-color: #4A5CCE;
    border: 2px solid #4A5CCE;
}


.onleft {
    display: none;
    position: absolute;
    width: 3px;
    height: 165px;
    top: -6px;
    left: -2px;
    background-color: #4A5CCE;
    border: 2px solid #4A5CCE;
}

.showit {
    display: block;
}

.myButton:hover .ontop {
    display: block;
    animation: showborder-top 0.8s;
    animation-fill-mode: both;
}

.myButton:hover .onright {
    display: block;
    animation: showborder-right 0.8s;
    animation-fill-mode: both;
}

.myButton:hover .onbottom {
    display: block;
    animation: showborder-bottom 0.8s;
    animation-fill-mode: both;
}

.myButton:hover .onleft {
    display: block;
    animation: showborder-left 0.8s;
    animation-fill-mode: both;
}

@keyframes showborder-top {
    0% {width: 202px;}
    3% {width: 180px;}
    6% {width: 160px;}
    9% {width: 140px;}
    12% {width: 120px;}
    15% {width: 100px;}
    18% {width: 80px;}
    21% {width: 60px;}
    24% {width: 40px;}
    27% {width: 20px;}
    30% {width: 0px;}
    100% {width: 0px;}
}

@keyframes showborder-right {
    0% {height: 160px;}
    30% {height: 160px;}
    32% {height: 144px;}
    34% {height: 128px;}
    36% {height: 112px;}
    38% {height: 96px;}
    40% {height: 80px;}
    42% {height: 64px;}
    44% {height: 48px;}
    46% {height: 32px;}
    48% {height: 16px;}
    50% {height: 0px;}
    100% {height: 0px;}
}


@keyframes showborder-bottom {
    0% {width: 202px;}
    50% {width: 202px;}
    53% {width: 180px;}
    56% {width: 160px;}
    59% {width: 140px;}
    62% {width: 120px;}
    65% {width: 100px;}
    68% {width: 80px;}
    71% {width: 60px;}
    74% {width: 40px;}
    77% {width: 20px;}
    80% {width: 0px;}
    100% {width: 0px;}
}


@keyframes showborder-left {
    0% {height: 160px;}
    80% {height: 160px;}
    82% {height: 144px;}
    84% {height: 128px;}
    86% {height: 112px;}
    88% {height: 96px;}
    90% {height: 80px;}
    92% {height: 64px;}
    94% {height: 48px;}
    96% {height: 32px;}
    98% {height: 16px;}
    100% {height: 0px;}
}
